* {
    color: #392B22;
    background-color: #F4DAA1;
    font-family: 'Open Sans', sans-serif;
}

.heading {
    color: #A84F2C;
    font-family: 'Pacifico', cursive;
    font-size: 3em;
}

.subheading {
    color: #E5962C;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    height: auto;
}
