* {
    color: #392B22;
    background-color: #F4DAA1;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.heading {
    color: #A84F2C;
}

.subheading {
    color: #E5962C;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    height: auto;
}
