* {
    margin-left: 10%;
    margin-right: 10%;
    
    color: black;
    background-color: #fffeef;
    
    font-family: serif;
    font-size: 1rem;
    text-align: center;
    
    /* border: 2px solid red;  */
}

.heading {
    color: black;
    font-family: sans-serif;
    font-size: 3rem;
}

.subheading {
    color: black;
    font-family: sans-serif;
    font-size: 2em;
}

.image {
    
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    
    width: 66%;
    height: auto;

    border: 6px solid black;

}

.index.all {

    margin-top: 25%;
    margin-bottom: 25%;
    
    padding: 5%;

    border: 8px solid black;
}

.all {

    margin-top: 10%;
    
    padding: 5%;

    border: 8px solid black;
}
